* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
}

button {
    border-radius: 12px;
    color: white;
    background-color: #1D4ED8;
    cursor: pointer;
    padding: 12px 30px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

nav {
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #575757;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: regular;
}

.hero {
    position: relative;
    text-align: center;
    padding: 60px 0;
    color: white;
}

.hero h1 {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    font-weight: regular;
    margin-bottom: 500px;
    max-width: 800px;
    margin: 0 auto 500px;
}

.hero-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.hero-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1,
.hero p,
.hero .btn {
    position: relative;
    z-index: 1;
}

span {
    font-style: italic;
}

.hero .btn {
    font-size: 24px;
    height: 74px;
    width: 282px;
}

.speakers {
    margin: 100px auto;
    text-align: center;
}

.speakers h1 {
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

.card {
    border: solid 1px #E5E7EB;
    max-width: 644px;
    text-align: left;
    border-radius: 12px;

}

.card h3 {
    font-size: 12px;
    font-weight: semi-bold;
    color: #2563EB;
    margin: 15px;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
    margin: 15px;
}

.card p {
    font-size: 14px;
    font-weight: regular;
    color: #575757;
    margin: 15px;
    margin-bottom: 25px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}